{% assign main_color_code = site.data.colors['main'].code %}

<nav class="w3-bar {{main_color_code}}">
	<a href="/" class="w3-bar-item w3-button">Home</a>
	{% assign sorted_sections = site.sections | sort: 'priority' %}
	{% for section in sorted_sections %}
		<a href="{{ section.url }}" class="w3-bar-item w3-button w3-hide-small">{{ section.title }} </a>
	{% endfor %}
	<a href="/contact.html" class="w3-bar-item w3-button w3-hide-small">Contact</a>
	<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
</nav>

<nav id="mobile-navbar" class="w3-bar-block {{main_color_code}} w3-hide w3-hide-large w3-hide-medium">
	{% for section in sorted_sections %}
		<a href="{{ section.url }}" class="w3-bar-item w3-button">{{ section.title }} </a>
	{% endfor %}
	<a href="/contact.html" class="w3-bar-item w3-button">Contact</a>
</nav>
